body {
    color: #333;
    background: #f5deb3;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5;
    margin: 5em auto;
    max-width: 70em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 15em auto;
    gap: 2em;
}
footer {
    grid-column: 2;
    border-top: 1px solid;
}
a:link, a:visited {
    color: #333;
}
a:focus, a:hover, a:active {
    color: #888;
}
#site-title a {
    text-decoration: none;
}
h1 {
    font-size: 1.62em;
}
h2 {
    font-size: 1.2em; 
}
main h1, main h2 {
    border-bottom: 1px solid;
}
h1 a:empty:before, h2 a:empty:before, h3 a:empty:before, h4 a:empty:before, h5 a:empty:before, h6 a:empty:before {
    content: "#";
}
h1 a:empty, h2 a:empty, h3 a:empty, h4 a:empty, h5 a:empty, h6 a:empty {
    visibility: hidden;
    padding-left: 0.25em;
}
h1:hover a:empty, h2:hover a:empty, h3:hover a:empty, h4:hover a:empty, h5:hover a:empty, h6:hover a:empty {
    visibility: visible;
    text-decoration: none;
}
/* https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
main a[href^="http"]::after
{
    content: "";
    width: 0.9em;
    height: 0.9em;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-external-link'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: text-top;
}
img {
    max-width: 100%;
}
.icon.icon-tabler {
    vertical-align: text-top;
    height: 1em;
    width: 1em;
}
figure {
    margin: 1em 0;
    text-align: center;
}
figcaption {
    font-size: small;
}
.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.cvdate {
    float: right;
    font-weight: bold;
}
pre, code, samp, kbd {
    font-family: monospace, monospace;
}
pre, code, kbd {
    color: #050;
}
samp {
    color: #730;
}
pre, blockquote {
    background: #eee;
    padding: 0.5em;
}
pre {
    overflow: auto;
}
blockquote {
    border-left: medium solid #ccc;
    margin: 1em 0;
}
blockquote :first-child {
    margin-top: 0;
}
blockquote :last-child {
    margin-bottom: 0;
}
table {
    border-collapse: collapse;
}
th, td {
    border: thin solid #999;
    padding: 0.3em 0.4em;
    text-align: left;
}
@media screen and (max-width: 1100px) {
    .cvdate {
        /* https://css-tricks.com/injecting-line-break/ */
        display: table;
        float: none;
    }
}
@media screen and (max-width: 800px) {
    body {
        grid-template-columns: auto;
        gap: 1em;
    }
    footer {
        grid-column: 1;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background: #111;
        color: #bbb;
    }
    a:link, a:visited {
        color: #bbb;
    }
    a:focus, a:hover, a:active {
        color: #eee;
    }
    main a[href^="http"]::after
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23bbb' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-external-link'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
    }
    pre, code, kbd {
        color: #9c6;
        font-family: monospace, monospace;
    }
    samp {
        color: #db0;
    }
    pre, blockquote {
        background: #000;
    }
    blockquote {
        border-color: #333;
    }
    th, td {
        border-color: #666;
    }
}


